:root {
    --top: 2em;
    --bottom: 0em;
    --bg: lavender;
}

.theorem {
    margin-top: var(--top);
    font-style: italic;
    counter-increment: theorem;
    background: var(--bg);
}
.math {
    font-style: normal;
    display: block;
    font-weight: bold;
}
.theorem-title {
    font-weight: bold;
    font-style: normal;
    display: block;
}
.lemma {
    margin-top: var(--top);
    font-style: italic;
    counter-increment: lemma;
    background: var(--bg);
}
.lemma-title {
    font-weight: bold;
    font-style: normal;
    display: block;
}
.proof {
    margin-top: 0em;
    margin-bottom: 1em;
    font-style: normal;
    display: block;
}
.proof summary {
    font-style: italic;
    display: inline-block;
    cursor: pointer;
}
.proof summary::after {
    content: '►';
}
.proof[open] summary::after {
    content: "▼";
}
.proof[open]::after {
    content: "\25FC"; 
    float: right;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
.definition {
    margin-top: var(--top);
    font-style: normal;
    counter-increment: definition;
    background: var(--bg);
}
.definition-title {
    font-weight: bold;
    font-style: normal;
    display: block;
}
.proposition {
    margin-top: var(--top);
    font-style: italic;
    counter-increment: prop;
    background: var(--bg);
}
.proposition-title {
    font-weight: bold;
    font-style: normal;
    display: block;
}
.corollary {
    margin-top: var(--top);
    font-style: italic;
    counter-increment: corollary;
    background: var(--bg);
}
.corollary-title {
    font-weight: bold;
    font-style: normal;
    display: block;
}
